<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extracted Resume Data</title>
</head>
<body>
    <h1>Extracted Resume Data</h1>
    
    
   
    <div class="container">
        <form method="post">
            {% csrf_token %}
           
            <input type="text" name="skills" placeholder="Skills" value='{{extracted_data.skills | join:", " }}'>
            
            
            <input type="text" name="summary" placeholder="Summary" value="{{ extracted_data.summary }}">
            
            <button type="submit">submit</button>
        </form>
    </div>
    <h2>Skills</h2>
    
   
        <P>{{extracted_data.skills | join:", "}}</P>
    

<h2>Summary</h2>

    
        <P>{{ extracted_data.summary }}</P>
        <h2>projects</h2>

    
        <P>{{ extracted_data.projects }}</P>
    
        <h2>Languages</h2>
        <P>{{ extracted_data.languages | join:", " }}</P>
        
    
    <h2>Education</h2>
    
        
            <P>{{extracted_data.education }}</P>
            <h2>INTERNSHIP</h2>
    
        
            <P>{{ extracted_data.internship}}</P>
        
    

    <h2>Experience</h2>
   
       
            <p>{{extracted_data.experience }}</p>

        <h2>Achievements</h2>
   
       
            <p>{{ extracted_data.achievements }}</p>
        
    

    <h2>Contact</h2>
    
        
            <P>{{ extracted_data.contact }}</P>
        
    
    <h2>certifications</h2>
    
        
            <P>{{ extracted_data.certifications }}</P>
        
    
</body>
</html>
