<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Haegl InterviewEdge</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
    rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="/static/new_landing/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link href="/static/new_landing/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <!--custom font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Stoke:wght@300;400&display=swap"
    rel="stylesheet">


  <!-- Customized Bootstrap Stylesheet -->
  <link href="/static/new_landing/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="/static/new_landing/css/style.css" rel="stylesheet">
  <link href="/static/new_landing/css/custom.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/static/new_landing/css/new_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>


  <style>
    .testimonial-item {
      transition: box-shadow 0.3s ease-in-out;
    }

    .testimonial-item:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }


    .hidden {
      display: none;
    }

    .new_section {
      width: 50px;
      max-height: 900px;
      /* Set your desired fixed height here */
      overflow-y: auto;
      /* Enable vertical scrolling */
    }

    @media only screen and (max-width: 600px) {
      .custom-container {
        margin-bottom: 10px;
        /* Adjust spacing between sections */
      }

      .columns-wrapper {
        flex-direction: column;
        /* Stack columns vertically */
      }

      .column {
        width: 100%;
        /* Make columns full-width */
        margin-right: 0;
        /* Remove margin */
      }

      .custom-button {
        width: 100%;
        /* Make buttons full-width */
      }

      .form-control {
        width: 100%;
        /* Make form inputs full-width */
      }
    }
    #downloadBtn {
  background-color: #fc081f ; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
 
}
  </style>
</head>

<body>




  <!-- Navbar start -->
  <div class="container-fluid fixed-top">
    

    <div class="container px-0">
      <nav class="navbar navbar-light bg-white navbar-expand-xl">
        <a href="/" class="navbar-brand">
            <img src="/static/new_landing/img/recruitintell.png" width="200px" height="90px">
        </a>
        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-primary"></span>
        </button>
        <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
               
              
            </div>
            <div class="d-flex m-3 me-0">
                <div class="navbar-nav mx-auto">
               
               
              
              
               </div>
            </div>
        </div>
    </nav>
    </div>
</div>


  <div class="container-fluid fruite py-5" style="margin-top: 100px;">
    <div class="container py-5">
      <div class="tab-class text-center">
        <div class="row">
          <div class="col-md-5">
            <div class="container-shadow">
              <div class="left-side">

                <button type="button" class="custom-button" onclick="toggleContainer()">
                  <i class="fas fa-chevron-down"></i>
                  <h3 class="mb-0 display-3 resume-form">Personal Information</h3>
                </button>

                <div id="profile" class="custom-container custom-container1 hidden">
                  <div class="columns-wrapper">
                    <div class="column">
                      <!-- Column 1: Profile Image -->
                      <img src="/static/dashboard_assets/img/team-2.jpg" alt="Profile Image" class="profile-image"><br>
                      <button class="edit-button" onclick="openPopup()">
                        <i class="fas fa-pencil-alt"></i>&nbsp;
                        Edit
                      </button><br>


                      <div id="imagePopup" class="popup">
                        <!-- Popup content -->
                        <label for="imageInput">Image:</label>
                        <input type="file" id="imageInput" accept="image/*">
                        <button onclick="closePopup()">Close</button>
                      </div>

                    </div>

                    <div class="column">
                      <!-- Column 2: User Information -->
                      <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName" onkeyup="updateFName_Lname()">
                      </div>
                      <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" class="form-control" id="phoneNumber" onkeyup="updatePhoneno()">
                      </div>
                      <div class="form-group">
                        <label for="phoneNumber">Linked URL:</label>
                        <input type="text" class="form-control" id="linkedin" onkeyup="updateLinkedin()">
                      </div>
                    </div>
                    <div class="column">
                      <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" onkeyup="updateFName_Lname()">
                      </div>
                      <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" onkeyup="updateEmail()">
                      </div>

                    </div>
                  </div>
                </div>
                <br>
                <button type="button" class="custom-button" onclick="toggleSummary()">
                  <i class="fas fa-chevron-down"></i>
                  <h3 class="mb-0 display-3 resume-form">Profile Summary</h3>
                </button>
                <div id="summary" class="custom-container hidden">
                  <div class="experience-content">
                    <form>
                      <div class="form-group">
                        <label for="summaryTextArea">Add Profile Summary:</label>
                        <textarea class="form-control" id="summary1" name="summary" cols="45" rows="5"
                          onkeyup="updateSummary()"></textarea>
                      </div>
                    </form>
                  </div>
                </div>
                <br>
                <button type="button" class="custom-button" onclick="toggleSkills()">
                  <i class="fas fa-chevron-down"></i>
                  <h3 class="mb-0 display-3 resume-form">Skills</h3>
                </button>

                <div id="skills" class="custom-container custom-container1 hidden">
                  <div class="columns-wrapper">
                    <div class="column2" id="column1">
                      <!-- Column 1: Profile Image -->



                      <div class="form-group" id="skillContainer1">
                        <label for="skill1">Add Skills(Separated by comma):</label>
                        <textarea class="form-control" id="skill1" cols="45" rows="5"
                          onkeyup="updateSkills()"></textarea>
                      </div>


                    </div>



                  </div>
                </div>
                <br>
                <button type="button" class="custom-button" onclick="workexperience()">
                  <i class="fas fa-chevron-down"></i>
                  <h3 class="mb-0 display-3 resume-form">Work Experience</h3>
                </button>
                <div id="container1" class="custom-container hidden">
                  <div class="experience-section">
                    <div class="experience-header" onclick="toggleExperience(this)">
                      <i class="fas fa-chevron-down"></i>
                      <p><b>Experience 1</b></p>
                    </div>
                    <div class="experience-content">
                      <form id="experience1">
                        <div class="form-group">
                          <input type="text" id="jobtitle1" class="form-control" placeholder="Designation"
                            name="jobtitle1" style="height: 30px;" onkeyup="updateExperience()">
                        </div>

                        <div class="form-group">
                          <input type="text" id="company1" class="form-control" placeholder="Company Name"
                            name="company1" style="height: 30px;" onkeyup="updateExperience()">
                        </div>


                        <div class="form-group">
                          <label for="from1" style="margin-right: 10px;">From:</label>
                          <input type="month" id="from1" name="from1" class="form-control" style="height: 35px;"
                            onchange="updateExperience()">
                        </div>
                        <div class="form-group">
                          <label for="to1" style="margin-right: 10px;">To:</label>
                          <span id="to1Container">
                            <input type="month" id="to1" class="form-control" name="to1" style="height: 35px;"
                              onchange="updateExperience()">
                          </span>
                          <label for="present1" style="margin-left: 10px;">
                            <input type="checkbox" id="present1" onchange="handlePresentCheckbox()"> Present
                          </label>
                        </div>


                        <div class="form-group">
                          <label for="description1">Description:</label>
                          <textarea id="description1" class="form-control" name="description1" rows="5"
                            onkeyup="updateExperienceDescription()"></textarea>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="submit" value="+ Add New Experience" onclick="addNewExperience()">
                  </div>
                </div>
                <br>
                <button type="button" class="custom-button" onclick="education()">
                  <i class="fas fa-chevron-down"></i>
                  <h3 class="mb-0 display-3 resume-form">Education</h3>
                </button>

                <div id="container2" class="custom-container hidden">
                  <div class="education-section">
                    <div class="education-header" onclick="toggleEducation(this)">
                      <i class="fas fa-chevron-down"></i>
                      <p><b>Education 1</b></p>
                    </div>
                    <div class="education-content">
                      <form>
                        <div class="form-group">
                          <input type="text" id="degreeInput" class="form-control" placeholder="Degree"
                            name="degreeInput" style="height: 30px;" onkeyup="updateDegree()">
                        </div>
                        <div class="form-group">
                          <input type="text" id="institution1" class="form-control" placeholder="Institution Name"
                            name="institution1" style="height: 30px;" oninput="updateInstitution()">
                        </div>
                        <div class="form-group">
                          <input type="text" id="city" class="form-control" placeholder="City" name="country1"
                            style="height: 30px;" onkeyup="updateCityCountry()">
                        </div>
                        <div class="form-group">
                          <label for="from1" style="margin-right: 10px;">From:</label>
                          <input type="month" id="degreeFromInput" name="degreeFromInput" class="form-control"
                            style="height: 35px;" onchange="updateDegreeYear()">
                        </div>
                        <div class="form-group">
                          <label for="to1" style="margin-right: 10px;">To:</label>
                          <input type="month" id="degreeToInput" class="form-control" name="degreeToInput"
                            style="height: 35px;" onchange="updateDegreeYear()">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="+ Add New Education" onclick="addNewEducation()">
                  </div>
                </div>


                <br>
                <button type="button" class="custom-button" onclick="projects()">
                  <i class="fas fa-chevron-down"></i>
                  <h3 class="mb-0 display-3 resume-form">Projects</h3>
                </button>

                <div id="container3" class="custom-container hidden">
                  <div class="project-section1">
                    <div class="experience-header" onclick="toggleProjects(this)">
                      <i class="fas fa-chevron-down"></i>
                      <p><b>Project 1</b></p><br>
                    </div>
                    <div class="project-content">
                      <form id="experience1">
                        <div class="form-group">
                          <input type="text" id="projectName" class="form-control" placeholder="Project Name"
                            oninput="updateProjectname()" name="company1" style="height: 30px;">
                        </div>

                        <div class="form-group">
                          <label for="description1">Tools used:</label>
                          <textarea id="projectTools" class="form-control" name="description1" rows="3"
                            oninput="updateProjectTools()"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="description1">Link:</label>
                          <input type="text" id="projectLink" class="form-control" placeholder="Link" name="jobtitle1"
                            oninput="updateProjectLink()" style="height: 30px;">

                        </div>
                        <div class="form-group">
                          <label for="description1">Description:</label>
                          <textarea oninput="updateProjectDes()" id="projectDes" class="form-control"
                            name="description1" rows="5"></textarea>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="submit" value="+ Add New Project" onclick="addNewProject()">
                  </div>
                </div><br>
                <button type="button" class="custom-button" onclick="toggleAchievements()">
                  <i class="fas fa-chevron-down"></i>
                  <h3 class="mb-0 display-3 resume-form">Achievements</h3>
                </button>



                <div id="achievements" class="custom-container hidden">
                  <div class="experience-content">
                    <form>
                      <div class="form-group">
                        <label for="achievementstext">Add Achievements:</label>
                        <textarea id="achievementstext" class="form-control" name="description1" cols="45" rows="5"
                          oninput="updateAchievements()"></textarea>
                      </div>
                    </form>
                  </div>
                </div>

                <br>
                <button type="button" class="custom-button" onclick="toggleLanguages()">
                  <i class="fas fa-chevron-down"></i>
                  <h3 class="mb-0 display-3 resume-form">Languages Known</h3>
                </button>

                <div id="languages" class="custom-container custom-container1 hidden">
                  <div class="columns-wrapper">
                    <div class="column2">


                      <div class="form-group">
                        <label for="languagetext">Add Languages Know:</label>
                        <textarea id="languagetext" class="form-control" name="description1" cols="45" rows="5"
                          oninput="updateLanguages()"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
          <div class="col-md-7">
          
            <!-- Content for the second half of the page -->
            <div class="container-shadow1">
              <button  id="downloadBtn">Download as PDF</button>
              <br>
              <div id="temp1" class="content_wrapper">
                <div id="dynamicContent">
                  <div>
                  <div class="heading">
                    <div class="header-left">
                      <h4> <span id="Display_Fname">Abhishek </span> <span id="Display_Lname">M</span></h4>
                      <p class="p-info"> <i class="fab fa-linkedin"></i> &nbsp; <span id="Display_lnkedin">
                          https://www.linkedin.com/in/sangeeta-dani-2688b6262/</span> </p>
                    </div>
                    <div class="header-right">
                      <p class="p-info"><i class="fas fa-phone"></i> <span id="Display_Phoneno">
                          9876564534 </span><br> <i class="far fa-envelope"></i> <span
                          id="Display_Email">abhi56@gmail.com </span><br> <i class="fas fa-map-marker-alt"></i> Hubli
                        <br>

                      </p>

                    </div>
                  </div>
                  <hr>
                  <div style="display:flex">
                    <div style=" padding:20px; border-right:1px solid black;flex:1; text-align: left;">
                      <div class="education-side">
                        <div class="education1">
                          <h5 class="resume-subheading">Education</h5>
                          <p class="edu" style="margin-bottom: 0px;" id="displayDegree">Bachelor of Computer Application
                          </p> <span class="content-text" id="displayDegreeFrom">2020 </span> - <span
                            id="displayDegreeTo" class="content-text">2023</span>
                          <p class="college" id="displayCollege" style="margin-bottom: 0px;">IBMR College of BCA </p>
                          <span class="content-text" id="displayCity">Hubli</span>
                        </div>
                      </div><br>
                      <div class="skill-section">
                        <h5 class="resume-subheading">Skills</h5>
                        <ul id="skillsList">
                          <li class="content-text">python</li>
                          <li class="content-text">Django</li>
                          <li class="content-text">SQL</li>
                          <li class="content-text">Communication</li>
                          <li class="content-text">Problem solving</li>
                        </ul>
                      </div><br>
                      <div class="acheivemets-section">
                        <h5 class="resume-subheading">Achievements</h5>
                        <ul id="achievementList">
                          <li class="content-text">Improved product sales by 12%, which led to a 20% increase in annual
                            revenue.</li>
                        </ul>
                      </div><br>
                      <div class="lang-section">
                        <h5 class="resume-subheading">Languages Known</h5>
                        <ul id="languageList">
                          <li class="content-text">English</li>
                          <li class="content-text">Hindi</li>
                          <li class="content-text">Kannada</li>

                        </ul>
                      </div><br>
                    </div>
                    <div style=" padding:20px;  flex:2; text-align: left;">
                      <div class="profile-summary">
                        <h5 class="resume-subheading">Profile Summary</h5>
                        <p class="content-text" id="Display_Summary">Enthusiastic recent graduate with a degree in
                          Computer Science and a passion for software development.
                          Proficient in Java and Python, with a strong foundation in algorithm design.
                          Eager to contribute to a dynamic team and apply problem-solving skills in a collaborative
                          environment.</p>
                      </div><br>
                      <div class="experience-section">
                        <div class="work-exp">
                          <h5 class="resume-subheading">Experience</h5>
                          <h6 class="last-heading" id="Display_Designation">Research Analyst</h6>
                          <p class="content-text" style="margin-bottom: 0px;" id="Display_Cname">Haegl technologies pvt
                            ltd</p>
                          <span class="content-text" id="Display_From">June 2020 </span> | <span class="content-text "
                            id="Display_To"> Aug 2021 </span>
                          <ul id="Display_Description">
                            <li class="content-text">Prototyped an average of 15 new products in a year, Increased user
                              experience by 20%</li>
                            <li class="content-text">Implemented coding best practices that reduced rework by 25% and
                              cost by 12%</li>
                            <li class="content-text">Received a website award for Best Navigation and Structure 2019
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="experience-side" id="experience-side' + experienceCount">
                        <!-- Placeholder for experience display -->
                      </div>
                      <div class="projects-section">
                        <h5 class="resume-subheading">Projects</h5>
                        <div id="projects">
                          <h6 class="last-heading" id="displayProjectName">Fees Management System</h6>
                          <span class="content-text">Tools used </span> | <span class="content-text " id="displayTools">
                            Python, django, sql, excel </span>

                          <p class="content-text" id="displayProjectDes">Developed a streamlined and efficient fees
                            processing website. User-friendly web-based Fees management System that automated entire fee
                            processing
                            workflow by integrating secure payment gateway. Students can crack their fees and pay
                            accordingly through Razor pay gateway.</p>

                          <div style="margin-top: 5px;" id="projectsContainer"></div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>

            <script>
              document.getElementById("downloadBtn").addEventListener("click", function() {
                  // Select the element containing the content you want to download
                  var element = document.getElementById("temp1");
              
                  // Options for the PDF generation
                  var opt = {
                      margin: 0.5,
                      filename: 'resume.pdf',
                      image: { type: 'jpeg', quality: 0.98 },
                      html2canvas: { scale: 2 },
                      jsPDF: { 
                          unit: 'in', 
                          format: 'a4', // Set the format to A4 size
                          orientation: 'portrait' // Set the orientation to portrait
                      }
                  };
              
                  // Convert HTML to PDF
                  html2pdf()
                      .from(element)
                      .set(opt)
                      .save();
              });
              </script>
          </div>
        </div>
      </div>
    </div>
  </div>






  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-white-50 footer pt-1 mt-1">
    <div class="container py-5">

    

      
    </div>
  </div>
  <!-- Footer End -->






  <!-- Back to Top -->
  <a href="#" class="btn btn-danger border-1 border-primary rounded-circle back-to-top"><i
      class="fa fa-arrow-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/new_landing/lib/easing/easing.min.js"></script>
  <script src="/static/new_landing/lib/waypoints/waypoints.min.js"></script>
  <script src="/static/new_landing/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/static/new_landing/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Template Javascript -->
  <script src="/static/new_landing/js/main.js"></script>
  <script src="/static/new_landing/js/temp2.js"></script>
</body>

</html>